<!-- Dropdown menu -->
  <form class="  justify-content-end">
  <button
    type="button"
    class="btn text-light btn-floating mt-2"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fas fa-ellipsis-v"></i>
  </button>

  <ul class="dropdown-menu">
          
            <input type="hidden" name="id" value='{{_id}}'>
    <button type="hidden" class="btn" type="submit"><li><a class="dropdown-item" href="/deletar">Excluir</a></li></button>
      </form><br>
    <button type="hidden" class="btn" type="submit"><li><a class="dropdown-item" href="/edit/{{_id}}">Editar</a></li></button>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Compartilhar</a></li>
  
  </ul>
</form>
