<!-- Dropdown menu -->
  <form class="  justify-content-end">
  <button
    type="button"
    class="btn text-dark btn-floating mt-2"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fas fa-ellipsis-v"></i>
  </button>

  <ul class="dropdown-menu">
    
    <!-- Botão Excluir Nota -->
        <form method="POST" action="/deletar" class=" mx-auto">
          <input type="hidden" name="id" value='{{_id}}'>
           <button type="submit" class="btn btn-block" value="" name="">Excluir</button>
        </form>
    
    <li><a class="dropdown-item" href="/edit/{{_id}}">Editar</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Compartilhar</a></li>
  </ul>
</form>
