<!-- Dropdown menu -->
  <form>
  <button
    type="button"
    class="btn btn-light btn-floating mt-2 mx-auto"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fas fa-ellipsis-v"></i>
  </button>
  <ul class="dropdown-menu">
          
    <li><a class="dropdown-item" type="submit" href="/deletar">Excluir</a></li>
    <li><a class="dropdown-item" href="/e">Adicionar Marcador</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Compartilhar</a></li>
  </form>
  </ul>
</form>
