<div class="card bg-dark text-light mt-4 mb-4">
  <div class="card-header d-inline-flex align-items-center">
    <h2>Dark Notes</h2>
  </div>
  <div class="card-body ">
    <h5 class="card-title">Agradecimentos</h5>
    <p class="card-text ml-2">Agradecimentos especiais ao Victor Lima - Guia do Programador, graças a ele desenvolve minha primeira API.</p>
    <!-- <nav class="navbar navbar">
    <ul>
      <li><a href="">Sobre mim</a></li>
      <li><a href="">Portifólio</a></li>
      <li><a href="">Feedback</a></li>
    </ul>
  </nav> -->

  <nav class="d-inline-flex align-items-center">

    <div class="d-inline-flex ">
      <a class="nav-item nav-link active" href="#">Sobre mim<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Portifólio</a>
      <a class="nav-item nav-link" href="#">Feedback</a>

  </div>
</nav>
  </div>
</div>