<!-- Rodapé -->
<div style="" class="card bg-dark text-light mt-5 w-100 justify-content-between">
  <div class="card-header">
    <h2 class="mx-auto align-content-center"><div id="title">Black Notes</div></h2>
  </div>
  <div class="card-body ">
    <h5 style="font-family: Kanit, sans-serif;" class="card-title">Agradecimentos</h5>
    <p style="font-family: Abel, sans-serif;" class="card-text ml-2">Agradecimentos especiais ao Victor Lima - Guia do Programador, graças a ele desenvolve minha primeira API.</p>
    

  <nav class="d-inline-flex align-content-center">

  
      <a class="nav-item nav-link mx-auto" href="#">Sobre mim<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link mx-auto" href="#">Portifólio</a>
      <a class="nav-item nav-link mx-auto" href="#">Feedback</a>


</nav>
  </div>
</div>