{{#if success_msg}}
	<div id="msg" class="alert alert-success m-2">{{success_msg}}

    <!-- Fechar Mensagem -->
    <button id="closeBT" onclick="fecharMsg()"> X </button>
    <script type="text/javascript">
    function fecharMsg(){
      let container = document.getElementById('container')
      let msg = document.getElementById('msg')
      container.removeChild(msg)
    }
  </script>
	</div>

{{/if}}

{{#if error_msg}}
	<div id="msg" class="alert alert-danger  m-2">{{error_msg}}
	
	<!-- Fechar Mensagem -->
    <button id="closeBT" onclick="fecharMsg()"> X </button>
    <script type="text/javascript">
    function fecharMsg(){
      let container = document.getElementById('container')
      let msg = document.getElementById('msg')
      container.removeChild(msg)
    }
  </script>
      </div>
{{/if}}