
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button id="menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
      
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <h2 id="title" class="mt-2">Black Notes</h2>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projetos</a>
        </li>
      </ul>
      <!-- Left links -->
      {{!-- <form>
<div class="input-group me-4">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control bg-light" />
    <label class="form-label" for="form1">O que você procura?</label>
  </div>
  <button type="button" class="btn btn-dark">
    <i class="fas fa-search"></i>
  </button>
</div>
    </form> --}}
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      

      <!-- Notifications -->
      <a
        class="text-reset me-3 dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i style="color:white;" class="fas fa-bell"></i>
        <span class="badge rounded-pill badge-notification bg-danger">3</span>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">Algumas noticias</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Outras noticias</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>

      <!-- Avatar -->
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://lh3.googleusercontent.com/ogw/ADea4I4Yn3_jU-L3L2d2cihQmv7GY_RPPKfWoqDNiKWjNA=s32-c-mo"
          class="rounded-circle"
          height="25"
          alt=""
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">Perfil</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Notificações</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Configurações</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Sair</a>
        </li>
      </ul>
    </div>
    <!-- Right elements -->
    
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->