<!-- Criar Nota -->
<div style="" id="pai" class="card mx-auto shadow p-3 bg-white rounded">
	<div id="novaNota" class="card-body">
		<div class="mb-1">

      <!-- Buttons trigger collapse -->
      <a style="text-decoration: none;" 
        data-bs-toggle="collapse" data-bs-target="#noteEdit" aria-controls="noteEdit" aria-expanded="false"
        aria-label="Toggle navigation"

      
      >
        
              <h5 style="color: grey;"><i style='color: grey;' class="fas fa-plus fa-2x"> </i> Criar uma nota</h5>
    
      </a>

  <!-- Collapsed content -->
  <div class="collapse mt-3" id="noteEdit">
    <form action="/salvar_nota" method="POST">
      <input type="text" class="form-control shadow-lg rounded" id="note_title" name="note_title" placeholder="Título">

      <textarea class="form-control mt-1 mb-2 shadow-lg rounded mt-2" id="note" name='note' rows="3" placeholder="Nota"></textarea>

      <!-- Adicionar Capa -->
    <!-- Botão gatilho collapse -->
        <div class="card bg-secondary p-2 shadow-lg rounded">
          <div class="card-body">
            <div class="d-inline">
              <a class='mb-2' style="text-decoration: none;" 
                data-bs-toggle="collapse" data-bs-target="#addCapa" aria-controls="addCapa" aria-expanded="false"
                aria-label="Toggle navigation">
                
                <div><span style="color: white;" class="fas fa-image fa-2x"></span> <strong class="card-title" style='color: white;'>
                  Adicionar Capa</strong>
                  
                </div>

                <div class="d-flex flex-row-reverse bd-highlight"><i style='color: white;' class="fas fa-chevron-circle-down fa-2x"></i>
                </div>
              
            
              </a>
            </div>


          <!-- Collapsed content -->
          <div class="collapse mt-3 text-light" id="addCapa">
            <!-- Capa File -->
              <!-- <div class="mb-3">
                <input class="form-control form-control-sm" id="img_file" name="img_file" type="file">
              </div> -->

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3"><i  class="fas fa-link"> </i> Link</span>
                <input type="text" class="form-control" id="imglink" name="img_link" aria-describedby="basic-addon3"><br>

                
              </div>
              <label for="ColorInput" class="form-label">Escolher Cor</label>
                <input type="color" class="form-control form-control-color" id="ColorInput" name="ColorInput" value="#563d7c" title="Choose your color">
          </div>
        </div>
      </div>

      <div class="ml-5">
        <button  type="submit" class="btn btn-dark  mt-2 sm-4 mx-auto shadow-lg rounded" value="" name="">Salvar <!-- <i class="fas fa-save"></i> --></button>
      </form>
        <button type="link" class="btn btn-light text-dark  mt-2 sm-4 mx-auto shadow-lg rounded"><a style="font-family: arial, sans-serif;" class="text-decoration-none text-dark" href="/">Descartar <!-- <i class="fas fa-trash"></i> --></a></button>
      </div>
    
	</div>
</div>
</div>
</div>