<!-- Criar Nota -->
<div class="card w-75 mx-auto">
	<div class="card-body">
		<div class="mb-1">

      <!-- Buttons trigger collapse -->
      <a style="text-decoration: none;" 
        data-bs-toggle="collapse" data-bs-target="#noteEdit" aria-controls="noteEdit" aria-expanded="false"
        aria-label="Toggle navigation"

      
      >
        
              <h5 style="color: grey;">Criar uma nota</h5>
    
      </a>

  <!-- Collapsed content -->
  <div class="collapse mt-3" id="noteEdit">
    <form action="/salvar_nota" method="POST">
      <input type="text" class="form-control" id="title" name="title" placeholder="Titulo">

      <textarea class="form-control mt-1 mb-2" id="note" name='note' rows="3" placeholder="Nota..."></textarea>

      <div class="card row">
        <button type="submit" class="btn btn-dark  mt-2 sm-4 mx-auto" value="" name="">Salvar <i class="fas fa-save"></i></button>
        <button class="btn btn-dark  mt-2 sm-4 mx-auto" value="" name="">Descartar <i class="fas fa-save"></i></button>
      </div>
    </form>
	</div>
</div>
</div>
</div>