<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="mdboostrap/image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="mdbootstrap/css/mdb.min.css" />
	
    <!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="_css/estilo.css">

</head>
<body>

{{>_nav}}

{{>_msg}}

<div class="container mt-4">
    {{{body}}}

</div>

</body>
 <!-- MDB -->
    <script type="text/javascript" src="mdbootstrap/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
</html>