

<!-- Card note -->
<div style="max-width: 25rem;"  class="  mt-4 shadow-lg rounded mx-auto">
    <div id="card-note"  class="card bg-dark text-light">
      
      <!-- Pagination -->
<nav  aria-label="...">
  <ul style="border-radius: 30px;" class="pagination pagination-sm bg-transparent text-light mx-2">
    <li class="page-item" aria-current="page">
      <span style="color: #686868;" class=""><a class="text-decoration-none mx-2" href="/">Inicio</a> » </span>
    </li> 
    <li class=""><a class="text-decoration-none mx-2" href="#">Login</a></li>
  </ul>
</nav>
      
      <div class="card-body ">
        <div class="card-body">
    <h3 class="card-title">Login</h3>
<form class='mt-4 mx-auto mb-4'>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form1Example1" class="form-control" />
    <label class="form-label" for="form1Example1">Email</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form1Example2" class="form-control" />
    <label class="form-label" for="form1Example2">Senha</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="form1Example3"
          checked
        />
        <label class="form-check-label" for="form1Example3"> Lembrar? </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Esqueceu a senha?</a>
      <a href="#!">Não tem conta?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Sign in</button>
</form>
  </div>
      </div>
      </div>
  </div>
