<!-- Card note -->
<div id="card-note" class="  mt-4 shadow-lg rounded">
    <div class="card bg-dark text-light">
      
      <img style="width: 60%" id="page_img" src="{{note.img_link}}" class="card-img-top mx-auto mt-4 mb-2" alt="..."/>
      <div class="card-body">
        <h4 id="note-title" class="card-title mx-auto">{{note.title}}</h4>
        <p style="white-space: pre-line;" id="description" class="card-text">
          {{note.note}}
        </p>
        <small>Data de criação: {{note.date}}</small>
      </div>
      </div>
  </div>