{{#each erros}}
	<div id="msg" class="alert alert-danger">
		{{texto}}

    <!-- Fechar Mensagem -->
    <button onclick="fecharMsg()"> X </button>
    <script type="text/javascript">
    function fecharMsg(){
      let container = document.getElementById('container')
      let msg = document.getElementById('msg')
      container.removeChild(msg)
    }
  </script>
	</div>

  

{{else}}
{{/each}}
<div id="card-registro" class="card bg-dark text-light mx-auto">
	
	<div class='card-body '>
		<h2 class="card-title m-2">Criar conta</h2>

		<form action="" method="post" class='mt-4 mx-auto mb-4'>
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="nome" name="nome" class="form-control" />
    <label class="form-label" for="nome">Nome</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email" name='email' class="form-control" />
    <label class="form-label" for="email">Email</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password1" name='password1' class="form-control" />
    <label class="form-label" for="password1">Senha</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password2" name='password2' class="form-control" />
    <label class="form-label" for="password2">Repita a senha</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row m-4 ">
    <div class="row d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="form1Example3"
          checked
        />
        <label class="form-check-label" for="form1Example3"> Aceitar os termos e condições? </label>
      </div>
    </div>

    <div class="col">
      
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mx-auto">Prosseguir</button>
</form>

	</div>
</div>