body{
	/*background-color: #282828;*/
	background-repeat: no-repeat;
  	background-position: top;
  	/*background-size: 100%;*/
  	background-attachment: fixed;

  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(1, 0, 0, 0.7)
        ),
        /* bottom, image */
        url("https://source.unsplash.com/collection/2250268/1600x900");
    }
}

#title{
	font-weight: bold;
	border: hidden;
}

#note, #note_title{
	border: none;
}

textarea{
	white-space: pre-wrap;
}

input: , textarea{
	
}



/*#novaNota{
	max-width: 75%;
	min-width: 20rem;
}*/

#container{

}

#menu{
	border: none;
}

#description{
	line-break: auto;
	white-space: pre-line;
	font: 16pt 'Abel', Arial, sans-serif;
	
}

#capa{
	max-height: 20rem;
}

#novaNota{
	padding: 0;

}

#pai{
	max-width: 75%;
}

#note-title{
	font-family: 'kanit', sans-serif;
	font-size: 18pt;
}